<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

        <title>TenisKIA</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="~{fragmentos/menu :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header">Acerca de <strong>TenisKIA</strong> </h4>              
          <div class="card-body">
            
				<p>En TenisKIA, ofrecemos una amplia selección de tenis de alta calidad para todos los gustos y necesidades. 
					Ya sea que estés buscando un par para correr, entrenamiento o simplemente para lucir bien, tenemos opciones 
					para ti. Nos enorgullece ofrecer productos de marcas reconocidas y de confianza, con precios competitivos y un 
					servicio al cliente excepcional. Nuestro objetivo es ayudarte a encontrar el par perfecto que te brinde comodidad y 
					estilo en cada paso.</p1>

          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragmentos/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
