<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>TenisKiapp | Aplicación para publicar Tenis.</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>
	  <header th:insert="~{fragmentos/menu.html::menu-principal}"></header>
	  
    <main role="main">

     <center>
        <div class=" text-bg-dark p-3">
          <h1>Encuentra los tenis que mas quieras o que desies </h1>
      </center>
      </div>
      </div>
        <center>
       <section >
            <img src="images/logo.jpg" alt="" width="1000px">
</section>
  </center>
  
      <hr>

      <div class="container"> 
        <hr>
        <div class="row" th:each="catalogo:${catalogos}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img}{img=${catalogo.imagen}}}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <h2 th:text="${catalogo.nombre}"></h2>
            <h6 class="card-title"><strong>Catalogo: </strong> <span th:text="${catalogo.venta.nombre}"></span></h6>
             <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}"></span></h6>
            <p th:text="${catalogo.descripcion}"></p>
            <p><a class="btn btn-secondary" th:href="@{/catalogos/detalle{id=${catalogo.id}}}" role="button">View details &raquo;</a></p>            
          </div>
        </div>  
        <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
        <img src="images/jordan1.jpg" class="rounded float-start" alt="...">
         </div>
         <div class="col">
        <img src="images/adidas3.jpg" class="rounded float-end" alt="...">
        </div>
    <div class="col">
         <img src="images/jordan2.jpg" class="rounded float-end" alt="...">
         </div>
         <br>
         <br>
   <div class="container text-center">
  <div class="row align-items-start">
   
	  <div class="col">
         <img src="images/puma3.jpg" class="rounded float-end"   alt="...">
         </div>
         
          <div class="col">
        <img src="images/adidas2.jpg" class="rounded float-end" alt="...">
        </div>
         <div class="col">
        <img src="images/adidas1.jpg" class="rounded float-end" alt="...">
        </div>
        </div>
  <div class="card-header">
    TenisKia
  </div>
  <div class="card-body">
    <h5 class="card-title">hola usuario</h5>
    <p class="card-text">si quieres ingresar a la pagina oficial da en el boton azul en el de la parte de abajo .</p>
    <a href="#" class="btn btn-primary">Ingresar</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>


         <!-- /container -->

    </main>
    
    <footer class="footer" th:insert="~{fragmentos/pie.html::pie-pagina}"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
